<!-- home.component.html -->
<section class="container-fluid">
    <div class="row mt-5">
      <!-- Left Column -->
      <div class="col-md-12 col-lg-6 ">
        <h3 class="text-danger text-uppercase " style="letter-spacing: 3px;">Talha Imtiaz Abbasi</h3>
        <h1 class="text-white  text-uppercase">Hey! I'm Talha</h1>
        <!-- <h1 class="text-uppercase fw-bold " style="color: #0788FF;">I'm Web Developer</h1> -->
        <h1 class="text-uppercase fw-bold" style="color: #0788FF;">
            <span id="word2" style="visibility: hidden;">Video </span>
            <span id="word3" style="visibility: hidden;">Editor</span>
          </h1>
        <p>
          A skilled video editor with over 4 years of experience in film and video production, specializing in crafting compelling stories through motion pictures. Experienced in collaborating with leading companies such as The IT Soul and Betechnica, with a proven track record of creating impactful YouTube videos that engage and resonate with audiences.
        </p>
      </div>
      <!-- Right Column -->
      <div class="col-md-12 col-lg-6">
        <img src="../../../assets/images/newlp.png" alt="Image" class="img-fluid">
      </div>
    </div>
  </section>
  