/* projects.component.css */

.card {
    border: none; /* Remove default card border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  }
  
  .card-img-top {
    width: 100%; 
    height: 200px; 
    object-fit: cover; /* Scale the image to fill the area while maintaining aspect ratio */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .card-body {
    padding: 1.25rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  /* projects.component.css */
.card {
    transition: transform 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  